<p>books works!</p>
<!--<h3>{{selectedBook.name |  uppercase}}</h3>-->
<!--<div><span>id:</span>{{selectedBook.id}}</div>-->
<!--<div><span>name:</span>{{selectedBook.name}}</div>-->

<h2>My books</h2>
<ul class="books">
  <li *ngFor="let book of books" (click)="onSelect(book)">
    <span class="badge">{{book.id}}</span>{{book.name}}
  </li>
</ul>

<app-book-detail [book]="selectedBook"></app-book-detail>

<!--<div *ngIf="selectedBook">-->
<!--  <h3>{{selectedBook.name |  uppercase}}</h3>-->
<!--  <div><span>id:</span>{{selectedBook.id}}</div>-->
<!--  <div><span>name:</span>{{selectedBook.name}}</div>-->
<!--    <div>-->
<!--      <label for="name">Book name:</label>-->
<!--      <input id="name" [(ngModel)]="selectedBook.name" placeholder="name" >-->
<!--      &lt;!&ndash;  モジュールのオプトインが必要 双方向データバインディング&ndash;&gt;-->
<!--    </div>-->
<!--</div>-->
